@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&amp;display=swap");
* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Poppins", sans-serif;
   overflow-x: hidden;
  /* font-family: 'Nunito', sans-serif; */

}

html {
  scroll-behavior: smooth;
}

p {
  color: rgb(85, 85, 85);
}

/* TRANSITION */

a,
.btn {
  transition: all 300ms ease;
}

/* DESKTOP NAV */

nav,
.nav-links {
  display: flex;
}

nav {
  justify-content: space-around;
  align-items: center;
  height: 17vh;
  margin: 10px 0;
}

.nav-links {
  gap: 2rem;
  list-style: none;
  font-size: 1.5rem;
  opacity: .7;
}

a {
  color: black;
  text-decoration: none;
  text-decoration-color: white;
}

a:hover {
  color: grey;
  text-decoration: underline;
  text-underline-offset: 1rem;
  text-decoration-color: rgb(181, 181, 181);
}

.logo {
  font-size: 2rem;
  opacity: .85;
}

.logo:hover {
  cursor: default;
}

/* HAMBURGER MENU */

#hamburger-nav {
  display: none;
}

.hamburger-menu {
  position: relative;
  display: inline-block;
}

.hamburger-icon {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 24px;
  width: 30px;
  cursor: pointer;
}

.hamburger-icon span {
  width: 100%;
  height: 2px;
  background-color: black;
  transition: all 0.3 ease-in-out;
}

.menu-links {
  position: absolute;
  top: 100%;
  right: 0;
  background-color: white;
  width: fit-content;
  max-height: 0;
  overflow: hidden;
  transition: all 0.3 ease-in-out;
}

.menu-links a {
  display: block;
  padding: 10px;
  text-align: center;
  font-size: 1.5rem;
  color: black;
  text-decoration: none;
  transition: all 0.3 ease-in-out;
}

.menu-links li {
  list-style: none;
}

.menu-links.open {
  max-height: 300px;
}

.hamburger-icon.open span:first-child {
  transform: rotate(45deg) translate(10px, 5px);
}

.hamburger-icon.open span:nth-child(2) {
  opacity: 0;
}

.hamburger-icon.open span:last-child {
  transform: rotate(-45deg) translate(10px, -5px);
}

.hamburger-icon span:first-child {
  transform: none;
}

.hamburger-icon span:first-child {
  opacity: 1;
}

.hamburger-icon span:first-child {
  transform: none;
}

/* SECTIONS */

section {
  padding-top: 4vh;
  /* height: 96vh; */
  margin: 0 10rem;
  box-sizing: border-box;
  min-height: fit-content;
}

.section-container {
  display: flex;
}

/* PROFILE SECTION */

#profile {
  display: flex;
  justify-content: center;
  gap: 5rem;
  height: 80vh;
}
#profile1{
  border-radius: 50%;
  /* width: 23rem;
  height: 23rem; */
}

.section__pic-container {
  display: flex;
  height: 300px;
  width: 300px;
  margin: auto 0;
}

.section__text {
  align-self: center;
  text-align: center;
}

.section__text p {
  font-weight: 600;
}

.section__text__p1 {
  text-align: center;
}

.section__text__p2 {
  font-size: 1.75rem;
  margin-bottom: 1rem;
}

.title {
  font-size: 3rem;
  text-align: center;
  opacity: .92;
  /* margin-bottom: 2rem; */

}

#socials-container {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
  gap: 1rem;
}

/* ICONS */

.icon {
  cursor: pointer;
  height: 2rem;
  /* opacity: ; */
}

/* BUTTONS */

.btn-container {
  display: flex;
  justify-content: center;
  gap: 2rem;
}

.btn {
  font-weight: 600;
  transition: all 300ms ease;
  padding: 1rem;
  width: 8rem;
  border-radius: 2rem;
  /* font-weight: normal; */
}
a .btn {
  font-weight: 600;
  transition: all 300ms ease;
  padding: 1rem;
  width: 8rem;
  border-radius: 2rem;
}

.btn-color-1,
.btn-color-2 {
  border: rgb(53, 53, 53) 0.1rem solid;
}

.btn-color-1:hover,
.btn-color-2:hover {
  cursor: pointer;
}

.btn-color-1,
.btn-color-2:hover {
  background: rgb(53, 53, 53);
  color: white;
}

.btn-color-1:hover {
  background: rgb(0, 0, 0);
}

.btn-color-2 {
  background: none;
}

.btn-color-2:hover {
  border: rgb(255, 255, 255) 0.1rem solid;
}

.btn-container {
  gap: 2rem;
}

/* ABOUT SECTION */

#about {
  position: relative;
}

.about-containers {
  gap: 2rem;
  margin-bottom: 2rem;
  margin-top: 2rem;
  /* width: 100%; */
}

.about-details-container {
  justify-content: center;
  flex-direction: column;
  width: 60vw;
  margin: auto;
}

.about-containers,
.about-details-container {
  display: flex;
  /* width: 80vw; */
}

.about-pic {
  border-radius: 2rem;
}

.arrow {
  position: absolute;
  right: -5rem;
  bottom: 2.5rem;
}

.details-container {
  padding: 1.5rem;
  flex: 1;
  background: white;
  border-radius: 2rem;
  border: rgb(53, 53, 53) 0.1rem solid;
  border-color: rgb(163, 163, 163);
  text-align: center;

}

.section-container {
  gap: 4rem;
  height: 80%;
}

/* .section__pic-container {
  height: 400px;
  width: 400px;
  margin: auto 0;
} */

/* EXPERIENCE SECTION */

#experience {
  position: relative;
}

.experience-sub-title {
  color: rgb(85, 85, 85);
  font-weight: 600;
  font-size: 1.75rem;
  margin-bottom: 2rem;
}

.experience-details-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.article-container {
  display: flex;
  text-align: left;
  flex-wrap: wrap;
  flex-direction: row;
  gap: 2.5rem;
  margin: auto;
  /* margin: 0 3rem; */
  justify-content: space-around;

}

article {
  display: flex;
  width: 10rem;
  justify-content: space-around;
  /* margin-left: 1rem;
  /* gap: 0.5rem; */
}

article .icon {
  cursor: default;
}
article p {
  visibility: hidden;
}

/* PROJECTS SECTION */

#projects {
  position: relative;
}

.color-container {
  border-color: rgb(163, 163, 163);
  background: rgb(250, 250, 250);
}

.project-img, .blog-img {
  border-radius: 1rem;
  width: 70%;
  height: 70%;
  object-fit: cover;
  /* height: 25rem; */
  /* width: 100%; */
  /* display: block; */
  margin: auto;

}


.project-title {
  margin: 1rem;
  color: black;
  opacity: .8;
}

.project-btn {
  color: black;
  border-color: rgb(163, 163, 163);
}

/* blog  */

.blog-img {
  border-radius: 1rem;
  width: 170px;
  height: 170px;
  object-fit: cover;
  /* height: 25rem; */
  /* width: 100%; */
  /* display: block; */
  margin: auto;

}

/* CONTACT */

#contact {
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 70vh;
}

.contact-info-upper-container {
  display: flex;
  justify-content: center;
  border-radius: 2rem;
  border: rgb(53, 53, 53) 0.1rem solid;
  border-color: rgb(163, 163, 163);
  background: (250, 250, 250);
  margin: 4rem auto;
  padding: 0.5rem;
}

.contact-info-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  margin: 1rem;
}

.contact-info-container p {
  font-size: larger;
}

.contact-icon {
  cursor: default;
}

.email-icon {
  height: 2.5rem;
}

/* FOOTER SECTION */

footer {
  height: 10vh;
  margin: 0 10px;
  display: inline;
}

footer p {
  text-align: center;
}


.highlight{
  font-weight: bolder;
}


/* theme */

body {
    color: aliceblue;
    color: black;
}



.dark-mode{
  background-color: rgb(43, 43, 43);
  color: aliceblue;
  forced-color-adjust: black;
}

.whiteText{
  color: aliceblue;

}
/* Go to Top Button */
#goTopBtn {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 999;
    font-size: 20px;
    border: none;
    outline: none;
    background-color: black;
    color: white;
    cursor: pointer;
    padding: 12px 15px;
    border-radius: 50%;
    box-shadow: 0 4px 10px rgba(0,0,0,0.3);
    transition: all 0.3s ease;
    display: none; /* Hidden by default */
}

#goTopBtn:hover {
    background-color: #ffd700;
    color: black;
    transform: scale(1.1);
}

/* Smaller screen adjustments */
@media (max-width: 600px) {
    #goTopBtn {
        font-size: 16px;
        padding: 10px 12px;
        bottom: 15px;
        right: 15px;
    }
}

